* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(21, 25, 56, 0.4039215686);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
}

body::-webkit-scrollbar-track-piece {
  background-color: #191919;
}

body {
  background-image: linear-gradient(35deg, rgb(19, 19, 20), rgb(19, 19, 34));
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: medium;
}
body h1 {
  color: white;
  font-size: xx-large;
}
body h2 {
  color: white;
}
body p {
  color: white;
}

footer {
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: column;
}
footer .futer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
footer .futer li {
  padding-right: 10px;
}

.COPY {
  text-align: center;
  color: antiquewhite;
}

header {
  width: 100%;
  height: 100%;
}

.navbar .navbar-brand img {
  display: flex;
  width: 300px;
  height: 40px;
  object-fit: contain;
  padding: 5px;
}
.navbar .offcanvas {
  align-items: end;
  width: 20%;
}
.navbar .offcanvas-body {
  width: 60%;
  align-items: center;
}
.navbar .navbar-nav .nav-link {
  transition: 0, 5s;
  border-radius: 25px;
}
.navbar .navbar-nav .nav-item:hover {
  border-radius: 25px;
}
.navbar .navbar-nav:hover .nav-item:not(:hover) {
  opacity: 0, 5;
  filter: blur(5px);
}

@media (max-width: 992px) {
  .navbar .offcanvas {
    align-items: normal;
    width: 30%;
  }
}
@media (max-width: 520px) {
  .navbar .offcanvas {
    width: 50%;
  }
}
@media (max-width: 380px) {
  .navbar .offcanvas {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .galeria {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 677px) {
  .fotos {
    border: none;
  }
}
@media (max-width: 310px) {
  .navbar .navbar-brand img {
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width: 800px) {
  main .musica {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 992px) {
  main .hero-main {
    display: flex;
    flex-direction: column;
  }
  main .hero-main img {
    width: 500px;
    height: 350px;
    object-fit: contain;
  }
}
@media (min-width: 992px) {
  main .hero-main img {
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 890px) {
  .accordion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media (min-width: 1000px) {
  header {
    height: 120px;
  }
  .navegacion {
    height: 100%;
  }
  .navegacion ul {
    display: none;
  }
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .carousel-item {
  height: 100%;
  width: 100%;
}
main .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
main .carousel-item .active {
  width: 100%;
}
main .present {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
main .present .title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
  gap: 10px;
  transition: 1s;
}
main .present .title2 .titulo {
  background-position: 0% 100%;
  background-size: 100% 0%;
  transition: background-size 0.5s;
}
main .present .title2:hover {
  transform: scale(1.5);
}
main .hero-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
}
main .hero-main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}
main .hero-main img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 2px solid rgb(78, 6, 6);
  border-radius: 25px;
  overflow: hidden;
}

.abaut {
  display: grid;
  text-align: center;
  background: radial-gradient(circle, black, rgba(8, 8, 58, 0.63));
}
.abaut .historia {
  display: flex;
  vertical-align: top;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.2745098039);
}
.abaut .historia article {
  width: 100%;
  padding: 20px;
  white-space: break-spaces;
}
.abaut .historia p {
  padding: 20px;
  text-align: center;
}

.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.accordion .accordion-button {
  background-color: #191919;
  font-weight: bold;
  color: #faf4df;
}
.accordion .accordion-item {
  width: 189px;
  background-color: #191919;
  border: none;
  color: #faf4df;
  font-weight: bold;
}
.accordion .accordion-item img {
  width: 189px;
  height: 300px;
}

.galeria {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 0.5s;
  flex-grow: 1;
}
.galeria ul li {
  padding: 15px;
  list-style-type: none;
  text-decoration: none;
}
.galeria .fotos {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  flex-grow: 1;
  flex-basis: 320px;
  transition: 0.5s;
}
.galeria .fotos:hover {
  flex-grow: 6;
}
.galeria .fotos img {
  border: 2px solid rgb(49, 8, 8);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.i1 {
  grid-area: img1;
}

.i2 {
  grid-area: img2;
}

.i3 {
  grid-area: img3;
}

.i4 {
  grid-area: img4;
}

.i5 {
  grid-area: img5;
}

.i6 {
  grid-area: img6;
}

.i7 {
  grid-area: img7;
}

.i8 {
  grid-area: img8;
}

.titulomusic div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titulomusic div h1 {
  font-size: 1.5rem;
  transition: 0.5s;
  text-shadow: rgb(17, 5, 5);
}
.titulomusic div h1:hover {
  transform: scale(1.4);
  background: linear-gradient(to right, rgb(19, 19, 39), rgb(1, 2, 48));
}

.musica {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.musica .disc {
  display: flex;
  background: linear-gradient(55deg, black, rgba(3, 3, 71, 0.438));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  border: 2px solid rgb(17, 5, 5);
  border-radius: 30px;
  width: 50%;
}
.musica .disc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.musica .sp1 {
  grid-area: disco1;
}
.musica .sp2 {
  grid-area: disco2;
}
.musica .sp3 {
  grid-area: disco3;
}
.musica .sp4 {
  grid-area: disco4;
}
.musica .sp5 {
  grid-area: disco5;
}
.musica .sp6 {
  grid-area: disco6;
}
.musica .sp7 {
  grid-area: disco7;
}
.musica .sp8 {
  grid-area: disco8;
}
.musica .sp9 {
  grid-area: disco9;
}

.contacts {
  background-image: url(../../images/idconcert2.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts .formulario {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.contacts .formulario form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.contacts .formulario form div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contacts .formulario form label {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
  color: #faf4df;
}
.contacts .formulario form input,
.contacts .formulario form textarea {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 2px solid rgba(193, 194, 167, 0.973);
  font-size: 1rem;
  border-radius: 18px;
  resize: none;
}
.contacts .formulario .btnformulario {
  background-color: rgb(17, 5, 5);
  color: #faf4df;
  border: none;
  padding: 10px 20px;
  border-radius: 18px;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
