// base 
@import "base/vars";
@import "base/reset";
@import "base/utilidades";
// components
@import "components/boton";
@import "components/footer";
@import "components/navbar";
// layouts
@import "layouts/index";
@import "layouts/about";
@import "layouts/galeria";
@import "layouts/music";
@import "layouts/contacts";

/* musica */

/* galeria */
.galeria {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:space-between;
    transition: 0.5s;
    flex-grow: 1;
}
.fotos {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    flex-grow: 1;
    flex-basis: 320px;
    transition: 0.5s;
}
.fotos:hover {
    flex-grow: 6;
}
.fotos img {
    border: 2px solid rgb(49, 8, 8);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
@media (max-width:992px) {
    .galeria {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:677px) {
    .fotos {
        border: none;
    }
}
.i1 {
    grid-area: img1;
}

.i2 {
    grid-area: img2;
}

.i3 {
    grid-area: img3;
}

.i4 {
    grid-area: img4;
}

.i5 {
    grid-area: img5;
}

.i6 {
    grid-area: img6;
}

.i7 {
    grid-area: img7;
}

.i8 {
    grid-area: img8;
}

.galeria ul li {
    padding: 15px;
    list-style-type: none;
    text-decoration: none;
}
@media (min-width: 1000px) {
    header {
        height: 120px;
    }

    .navegacion {
        height: 100%;
    }

    .navegacion ul {
        display: none;
    }
}