body {
    background-image: linear-gradient(45deg, rgb(10, 25, 65), rgb(63, 9, 9));
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;

    h1 {
        color: $color-primary;
        font-size: xx-large;
    }

    h2 {
        color: $color-primary
    }

    p {
        color: $color-primary;
    }

    .galeria {
        display: flex;
        padding: 20px;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: 0.5s;
        flex-grow: 1;

        ul {
            li {
                padding: 15px;
                list-style-type: none;
                text-decoration: none;
            }
        }

        .fotos {
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 400px;
            flex-grow: 1;
            flex-basis: 320px;
            transition: 0.5s;

            &:hover {
                flex-grow: 6;
            }

            img {
                border: 2px solid rgb(49, 8, 8);
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px;
            }
        }
    }

    .i1 {
        grid-area: img1;
    }

    .i2 {
        grid-area: img2;
    }

    .i3 {
        grid-area: img3;
    }

    .i4 {
        grid-area: img4;
    }

    .i5 {
        grid-area: img5;
    }

    .i6 {
        grid-area: img6;
    }

    .i7 {
        grid-area: img7;
    }

    .i8 {
        grid-area: img8;
    }
}