// navbar
@media (max-width:992px) {
.navbar .offcanvas {
    align-items: normal;
    width: 20%;
}
}
// mediaquieries de galeria
@media (max-width:992px) {
    .galeria {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:677px) {
    .fotos {
        border: none;
    }
}
// musica
@media (max-width:800px) {
    .musica {
        display: flex;
        flex-direction: row;
    }
}

// index
@media (max-width:992px) {
    main .hero-main {
        display: flex;
        flex-direction: column;
        img {
            width: 500px;
            height: 350px;
            object-fit: contain;
        }
    }
}

@media (min-width:992px) {
    main .hero-main {
        img {
            width: 300px;
            height: 250px;
        }
    }
}

// about
@media (max-width:890px) {
    .accordion {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
}